@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.container_topo {
    width: 100%;
    height: 10vh;
}

.container_largura {
    max-width: 1024px;
    padding: 0px 20px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.botao {
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 25px;

    display: flex;
}

.banner {
    background-image: url("/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
}

.secao_informacoes {
    height: 60vh;
}

.container_texto {
    max-width: 900px;
    text-align: center;
    margin: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container_texto h1 {
    font-size: 40px;
}

.paragrafo {
    font-size: 18px;
}

.paragrafo_destaque {
    font-family: "Great Vibes";
    font-size: 50px;
    color: #b2987d;
}

.modo_escuro .container_topo {
    background-color: #232323;
}

.modo_escuro .secao_informacoes {
    background-color: #232323;
}

.modo_escuro .paragrafo {
    color: #ffffff;
}

.modo_escuro h1 {
    color: #ffffff;
}

.modo_escuro .botao {
    background-color: #232323;
    color: #ffffff;
    border-color: #b2987d;
}

.modo_escuro .logo {
    filter: invert(1) brightness(2);
}
